# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Experiment logs & outputs
wandb/
log/
runs/
outputs/
checkpoints/
*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Local env
.env
*.env
slurm-*.out
